{% assign item = include.item %}
<article class="row no-gutters {% unless include.hide_bottom_border %}border-bottom{% endunless %} border-gray">
    {% if item.cover %}
    <div class="col-12 col-md-3 col-xl-2 p-3">
        <img src="{% include widgets/asset_url.html path=item.cover %}" alt="{{ item.title | escape }}" class="w-100 rounded-sm" loading="lazy">
    </div>
    {% endif %}
    <div class="{% if item.cover %}col-12 col-md-9 col-xl-10 p-3 pl-md-0{% else %}col-12 p-3{% endif %}">
        <h5 class="mt-0 mb-1 font-weight-normal">{{ item.title | escape }}</h5>
        {% if item.period %}
        <p class="small text-muted mb-1">{{ item.period | escape }}</p>
        {% endif %}
        <p class="small text-muted mb-1">{{ item.description | escape }}</p>
        {% if item.links.size > 0 %}
        <p class="small mb-0">
            {% for link in item.links %}
                {% assign project_link = link[1] %}
                {% unless project_link contains '://' %}
                    {% assign project_link = project_link | relative_url %}
                {% endunless %}
            <a href="{{ project_link | escape }}" target="_blank" rel="noopener noreferrer">[{{ link[0] | escape }}]</a>
            {% endfor %}
        </p>
        {% endif %}
    </div>
</article>
